<%- include('header') %>

<div class="page-header mt-3 ms-3">
    <a class="btn btn-outline-info" href="/select">Back to channels</a>
    <h1 class="mt-2">Edit OffAir <%= data.offairID%></h1>
</div>




<script>

    $("document").ready(function(){
        $("#connectButton").click(function(){
        });
    });
</script>

<%- include('footer') %>