body {
    --bs-body-bg: #212529;
    --bs-body-color: antiquewhite;

    --bs-tertiary-bg: #737479;
}

.muted {
    font-style: italic;
    color: #a7acbb;
}

.channelBox {
    background: #353a42;
    border-radius: 10px;
}

.button-icon {
    fill: antiquewhite;
}

.btn-outline-warning:hover .button-icon {
    fill: #212529;
}